.slick-next{
    font-size: 20px;
    color: black;
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    &:hover{
        background-color: blue;
    }
}
.slick-prev{
    font-size: 20px;
    color: black;
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    &:hover{
        background-color: blue;
    }
}